#navbar {
  position: fixed;
  display: flex;
  height: 5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1;
  background-color: #5E0F03;
  color: white;
}

#company {
  display: flex;
  margin-left: 5%;
}

#company img {
  height: 3rem;
  margin-right: 1rem;
}

#nav-options {
  display: flex;
  margin-right: 5%;
  align-items: center;
}

#nav-search-bar {
  padding: 0.5rem;
}

#nav-search-bar label {
  margin-right: 0.25rem;
}

#nav-search-bar input[type=text] {
  border-radius: 0.2rem 0 0 0.2rem;
  border: 1px solid black;
  padding: 0.2rem;
}

#nav-search-bar input[type=text]:focus {
  outline-width: 0;
}

#nav-search-bar button {
  background-color: #FF5655;
  border-radius: 0 0.2rem 0.2rem 0;
  border: 1px solid black;
  border-left: 0;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

#nav-search-bar button:hover {
  background-color: #e84242;
}

#nav-options a {
  text-decoration: none;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  margin-left: 0.5rem;
}

#nav-options a:hover, #login-btn:hover {
  color: #e84242;
  border-color: #e84242;
}

#login-btn {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid white;
  cursor: pointer;
}

#login-btn p {
  margin: 0;
}