#results-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5rem;
  padding: 3rem 10%;
}

@media only screen and (max-width: 768px) {
  #results-list {
    flex-direction: column;
  }
}